projects/KUBE/StandardExample.json
[{"id":"bc4afef6b20d40e4","type":"change","z":"2c8ee17f.1fe80e","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":520,"wires":[["1797230e6f91c57c"]],"info":"To change the "},{"id":"34aa22b3d4b1a3bc","type":"mqtt in","z":"2c8ee17f.1fe80e","name":"Subscribe to a Sensor","topic":"Kube-IoT/C1:5D:CD:86:36:F5","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":520,"wires":[["259c78a7812392a7"]]},{"id":"1797230e6f91c57c","type":"influxdb batch","z":"2c8ee17f.1fe80e","influxdb":"","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b94cdf1d96cb88b1","bucket":"Kube Gateway","x":1540,"y":520,"wires":[]},{"id":"50edf084547db3dd","type":"function","z":"2c8ee17f.1fe80e","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":520,"wires":[["bc4afef6b20d40e4"]]},{"id":"259c78a7812392a7","type":"change","z":"2c8ee17f.1fe80e","name":"Change Measurement Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":520,"wires":[["50edf084547db3dd"]]}]
