trainings/Hydraulic/completeflow.json
[{"id":"7a53b6073571e8dc","type":"tab","label":"Hydraulic Training OPCUA","disabled":false,"info":"","env":[]},{"id":"24dec1248c41a82c","type":"group","z":"7a53b6073571e8dc","g":"1a9c8e72545d349d","name":"Reset Counter to 0","style":{"stroke":"#000000","fill":"#3f93cf","label":true,"color":"#000000"},"nodes":["2f0955916efc9ff7","49da38ce5ebc8963"],"x":94,"y":319,"w":352,"h":82},{"id":"8447f44c011e0b51","type":"group","z":"7a53b6073571e8dc","g":"5a2530dfbe148780","name":"Create Fake Dataset","style":{"label":true},"nodes":["e1a263c0b6e29d0e","d6b1bdf8263d40d2","09ebceae7681cd1a","f5395c2bf0e20b10","1447766e826b15ee","0a6d991e480a8cce","c2db6831888dc44d","352a2e67fa83b461"],"x":68,"y":59,"w":1078,"h":202},{"id":"c2db6831888dc44d","type":"group","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"Increment Counter","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["e6614b34f436ba82","667dc35d8fd80f28"],"x":94,"y":139,"w":352,"h":82},{"id":"1a9c8e72545d349d","type":"group","z":"7a53b6073571e8dc","g":"5a2530dfbe148780","name":"Reset the Counter","style":{"label":true},"nodes":["c74747ed10a2dd85","24dec1248c41a82c"],"x":68,"y":293,"w":598,"h":134},{"id":"de874d80729040c7","type":"group","z":"7a53b6073571e8dc","g":"5a2530dfbe148780","name":"Query variables and set them as Flow Variables","style":{"label":true},"nodes":["ddbafaa59eade321","c08add1c6b7e48c8","265f7d4beeecdbac","19de2b4bd7224f9c"],"x":74,"y":479,"w":792,"h":82},{"id":"ef6cca90f7878213","type":"group","z":"7a53b6073571e8dc","g":"5a2530dfbe148780","name":"The OPCUA Server","style":{"label":true},"nodes":["079658903036917f"],"x":74,"y":579,"w":212,"h":82},{"id":"cde2c184608f4d2f","type":"group","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"Status Checker","style":{"label":true},"nodes":["d55984ff2229571a","743135d146ecb9b7","72758b60c8896972","cdc22dc82bcb6e6e"],"x":1074,"y":959,"w":632,"h":122},{"id":"3316a0361f3cd8ea","type":"group","z":"7a53b6073571e8dc","name":"Hydraulic Training","style":{"label":true},"nodes":["ad778fbba0c5fea8","645aa9412ccc3a3e","8b450eb4a2d9b0bb","ea0f53f71fd6ee70","0f5c82c020e2249c","a881cc64a54bc20b","774c888af91ed9e9","af90a28fba82f851","4e4139809aef928f","6e688924a9b1489f","5296ac033a591960","c523c20fad8daf90","26c99accadb230fa","879954cf88f52562","533b5305ca8a3faf","10cc37d334f32d9a","cde2c184608f4d2f"],"x":54,"y":719,"w":1678,"h":388},{"id":"5a2530dfbe148780","type":"group","z":"7a53b6073571e8dc","name":"Back End","style":{"label":true},"nodes":["8447f44c011e0b51","1a9c8e72545d349d","de874d80729040c7","ef6cca90f7878213"],"x":42,"y":33,"w":1130,"h":654},{"id":"2f0955916efc9ff7","type":"inject","z":"7a53b6073571e8dc","g":"24dec1248c41a82c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":360,"wires":[["49da38ce5ebc8963"]]},{"id":"49da38ce5ebc8963","type":"function","z":"7a53b6073571e8dc","g":"24dec1248c41a82c","name":"","func":"flow.set(\"counter\",0)\nmsg.payload=flow.get(\"counter\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["c74747ed10a2dd85"]]},{"id":"c74747ed10a2dd85","type":"debug","z":"7a53b6073571e8dc","g":"1a9c8e72545d349d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"e1a263c0b6e29d0e","type":"switch","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"num"},{"t":"btwn","v":"61","vt":"num","v2":"120","v2t":"num"},{"t":"btwn","v":"121","vt":"num","v2":"180","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":180,"wires":[["d6b1bdf8263d40d2"],["09ebceae7681cd1a"],["f5395c2bf0e20b10"]]},{"id":"e6614b34f436ba82","type":"inject","z":"7a53b6073571e8dc","d":true,"g":"c2db6831888dc44d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["667dc35d8fd80f28"]]},{"id":"667dc35d8fd80f28","type":"function","z":"7a53b6073571e8dc","g":"c2db6831888dc44d","name":"","func":"var counter = flow.get(\"counter\") || 0\ncounter ++\nflow.set('counter',counter)\nmsg.payload=counter\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":180,"wires":[["e1a263c0b6e29d0e"]]},{"id":"d6b1bdf8263d40d2","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=22\nvar measuredPressureMin=18\nvar measuredFlowrateMax=32\nvar measuredFlowrateMin=28\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":140,"wires":[["1447766e826b15ee"]]},{"id":"09ebceae7681cd1a","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=17\nvar measuredPressureMin=15\nvar measuredFlowrateMax=27\nvar measuredFlowrateMin=25\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":180,"wires":[["1447766e826b15ee"]]},{"id":"f5395c2bf0e20b10","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=14\nvar measuredPressureMin=12\nvar measuredFlowrateMax=24\nvar measuredFlowrateMin=22\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":220,"wires":[["1447766e826b15ee"]]},{"id":"1447766e826b15ee","type":"mysql","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","mydb":"626607248a2dfb33","name":"","x":860,"y":180,"wires":[["0a6d991e480a8cce"]]},{"id":"0a6d991e480a8cce","type":"debug","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"ddbafaa59eade321","type":"inject","z":"7a53b6073571e8dc","g":"de874d80729040c7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":520,"wires":[["265f7d4beeecdbac"]]},{"id":"c08add1c6b7e48c8","type":"mysql","z":"7a53b6073571e8dc","g":"de874d80729040c7","mydb":"626607248a2dfb33","name":"","x":520,"y":520,"wires":[["19de2b4bd7224f9c"]]},{"id":"265f7d4beeecdbac","type":"function","z":"7a53b6073571e8dc","g":"de874d80729040c7","name":"","func":"flow.set('counter',flow.get(\"counter\")+1)\nif (flow.get(\"counter\")==180){\n    flow.set(\"counter\",1)\n}\nmsg.counter=flow.get(\"counter\")\nmsg.topic = \"SELECT * FROM `hydraulic_filter_dataset`  where `hydraulic_filter_dataset`.`id`  = \"+flow.get(\"counter\")+\";\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":520,"wires":[["c08add1c6b7e48c8"]]},{"id":"ad778fbba0c5fea8","type":"ui_gauge","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","group":"613be4e97df20335","order":0,"width":0,"height":0,"gtype":"gage","title":"Command Pressure","label":"units","format":"{{msg.payload}}","min":"0","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"14","seg2":"17","className":"","x":1160,"y":800,"wires":[]},{"id":"645aa9412ccc3a3e","type":"ui_gauge","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","group":"6d0d70ad90dd1365","order":0,"width":0,"height":0,"gtype":"gage","title":"Measured Pressure","label":"units","format":"{{msg.payload}}","min":"0","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"14","seg2":"17","className":"","x":1160,"y":840,"wires":[]},{"id":"8b450eb4a2d9b0bb","type":"ui_gauge","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","group":"613be4e97df20335","order":0,"width":0,"height":0,"gtype":"gage","title":"Command Flowrate","label":"units","format":"{{msg.payload}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"24","seg2":"27","className":"","x":1150,"y":880,"wires":[]},{"id":"ea0f53f71fd6ee70","type":"ui_gauge","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","group":"6d0d70ad90dd1365","order":0,"width":0,"height":0,"gtype":"gage","title":"Measured Flowrate","label":"units","format":"{{msg.payload}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"24","seg2":"27","className":"","x":1150,"y":920,"wires":[]},{"id":"d55984ff2229571a","type":"function","z":"7a53b6073571e8dc","g":"cde2c184608f4d2f","name":"flowrate status checker","func":"var flowrateDifference=msg.payload.command_flowrate-msg.payload.measured_flowrate\nvar pressureDifference=msg.payload.command_pressure-msg.payload.measured_pressure\nif(flowrateDifference<3){\n    msg.flowrate=\"Good\"\n}else if (flowrateDifference<6){\n    msg.flowrate=\"Warning\"\n}else if (flowrateDifference<9){\n    msg.flowrate=\"Critical\"\n}\nif(pressureDifference<3){\n    msg.pressure=\"Good\"\n}else if (pressureDifference<6){\n    msg.pressure=\"Warning\"\n}else if (pressureDifference<9){\n    msg.pressure=\"Critical\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1020,"wires":[["72758b60c8896972","743135d146ecb9b7"]]},{"id":"743135d146ecb9b7","type":"ui_text","z":"7a53b6073571e8dc","g":"cde2c184608f4d2f","group":"b20e31e34f503174","order":2,"width":0,"height":0,"name":"","label":"Pressure Status: ","format":"{{msg.pressure}}","layout":"row-spread","className":"","x":1590,"y":1000,"wires":[]},{"id":"72758b60c8896972","type":"ui_text","z":"7a53b6073571e8dc","g":"cde2c184608f4d2f","group":"b20e31e34f503174","order":2,"width":0,"height":0,"name":"","label":"Flowrate Status: ","format":"{{msg.flowrate}}","layout":"row-spread","className":"","x":1580,"y":1040,"wires":[]},{"id":"352a2e67fa83b461","type":"comment","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"Dont need to run this unless the table is empty","info":"","x":440,"y":100,"wires":[]},{"id":"079658903036917f","type":"opcua-compact-server","z":"7a53b6073571e8dc","g":"ef6cca90f7878213","port":"4840","endpoint":"","productUri":"","acceptExternalCommands":true,"maxAllowedSessionNumber":10,"maxConnectionsPerEndpoint":10,"maxAllowedSubscriptionNumber":100,"alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsetsOPCUA":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":1,"discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerWrite":1000,"maxNodesPerHistoryReadData":100,"maxNodesPerBrowse":3000,"maxBrowseContinuationPoints":10,"maxHistoryContinuationPoints":10,"delayToInit":1000,"delayToClose":200,"serverShutdownTimeout":100,"addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = address space of the node-opcua server\n    // eventObjects = add event variables here to hold them in memory from this script\n  \n    // internal sandbox objects are:\n    // node = the compact server node,\n    // coreServer = core compact server object for debug and access to NodeOPCUA\n    // this.sandboxNodeContext = node context node-red\n    // this.sandboxFlowContext = flow context node-red\n    // this.sandboxGlobalContext = global context node-red\n    // this.sandboxEnv = env variables\n    // timeout and interval functions as expected from nodejs\n\n    const opcua = coreServer.choreCompact.opcua;\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n    \n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n    \n    var flexServerInternals = this;\n    \n    this.sandboxFlowContext.set(\"command_pressure\",0);\n    this.sandboxFlowContext.set(\"measured_pressure\",0);\n    this.sandboxFlowContext.set(\"command_flowrate\",0);\n    this.sandboxFlowContext.set(\"measured_flowrate\",0);\n    \n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n    const demoHydraulics = namespace.addFolder(rootFolder.objects,{\"browseName\": \"Demo-Hydraulics\"});\n    const pressureFolder = namespace.addFolder(demoHydraulics,{\"browseName\":\"Pressure\"});\n    const flowrateFolder = namespace.addFolder(demoHydraulics,{\"browseName\":\"FlowRate\"});\n\n    const command_pressure = namespace.addVariable({\n        \"organizedBy\" : pressureFolder,\n        \"browseName\" : \"Command Pressure\",\n        \"nodeId\" : \"ns=1;s=command_pressure\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"command_pressure\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"command_pressure\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const measured_pressure = namespace.addVariable({\n        \"organizedBy\" : pressureFolder,\n        \"browseName\" : \"Measured Pressure\",\n        \"nodeId\" : \"ns=1;s=measured_pressure\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"measured_pressure\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"measured_pressure\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const command_flowrate = namespace.addVariable({\n        \"organizedBy\" : flowrateFolder,\n        \"browseName\" : \"Command Flowrate\",\n        \"nodeId\" : \"ns=1;s=command_flowrate\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"command_flowrate\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"command_flowrate\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    const measured_flowrate = namespace.addVariable({\n        \"organizedBy\" : flowrateFolder,\n        \"browseName\" : \"Measured Flowrate\",\n        \"nodeId\" : \"ns=1;s=measured_flowrate\",\n        \"dataType\" : \"Double\",\n        \"value\" : {\n            \"get\" : function(){\n                return new Variant ({\n                    \"dataType\" : DataType.Double,\n                    \"value\" : flexServerInternals.sandboxFlowContext.get(\"measured_flowrate\")\n                });\n            },\n            \"set\": function(variant){\n                flexServerInternals.sandboxFlowContext.set(\n                    \"measured_flowrate\",\n                    parseFloat(variant.value)\n                );\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n          \n    done();\n  }","x":180,"y":620,"wires":[]},{"id":"19de2b4bd7224f9c","type":"function","z":"7a53b6073571e8dc","g":"de874d80729040c7","name":"Set Flow Variables","func":"flow.set(\"command_pressure\",msg.payload[0].command_pressure)\nflow.set(\"measured_pressure\",msg.payload[0].measured_pressure)\nflow.set(\"command_flowrate\",msg.payload[0].command_flowrate)\nflow.set(\"measured_flowrate\",msg.payload[0].measured_flowrate)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":520,"wires":[[]]},{"id":"0f5c82c020e2249c","type":"OpcUa-Item","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","item":"ns=1;s=command_pressure","datatype":"Double","value":"","name":"","x":370,"y":800,"wires":[["774c888af91ed9e9"]]},{"id":"a881cc64a54bc20b","type":"inject","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":860,"wires":[["0f5c82c020e2249c","af90a28fba82f851","4e4139809aef928f","6e688924a9b1489f"]]},{"id":"774c888af91ed9e9","type":"OpcUa-Client","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","endpoint":"823a6f11.f75ab","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":560,"y":860,"wires":[["5296ac033a591960"]]},{"id":"af90a28fba82f851","type":"OpcUa-Item","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","item":"ns=1;s=measured_pressure","datatype":"Double","value":"","name":"","x":370,"y":840,"wires":[["774c888af91ed9e9"]]},{"id":"4e4139809aef928f","type":"OpcUa-Item","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","item":"ns=1;s=command_flowrate","datatype":"Double","value":"","name":"","x":370,"y":880,"wires":[["774c888af91ed9e9"]]},{"id":"6e688924a9b1489f","type":"OpcUa-Item","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","item":"ns=1;s=measured_flowrate","datatype":"Double","value":"","name":"","x":370,"y":920,"wires":[["774c888af91ed9e9"]]},{"id":"5296ac033a591960","type":"switch","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ns=1;s=command_pressure","vt":"str"},{"t":"eq","v":"ns=1;s=measured_pressure","vt":"str"},{"t":"eq","v":"ns=1;s=command_flowrate","vt":"str"},{"t":"eq","v":"ns=1;s=measured_flowrate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":860,"wires":[["c523c20fad8daf90"],["26c99accadb230fa"],["879954cf88f52562"],["533b5305ca8a3faf"]]},{"id":"cdc22dc82bcb6e6e","type":"join","z":"7a53b6073571e8dc","g":"cde2c184608f4d2f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":1020,"wires":[["d55984ff2229571a"]]},{"id":"c523c20fad8daf90","type":"change","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"command_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":800,"wires":[["ad778fbba0c5fea8","cdc22dc82bcb6e6e"]]},{"id":"26c99accadb230fa","type":"change","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"measured_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":840,"wires":[["645aa9412ccc3a3e","cdc22dc82bcb6e6e"]]},{"id":"879954cf88f52562","type":"change","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"command_flowrate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":880,"wires":[["8b450eb4a2d9b0bb","cdc22dc82bcb6e6e"]]},{"id":"533b5305ca8a3faf","type":"change","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"measured_flowrate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":920,"wires":[["ea0f53f71fd6ee70","cdc22dc82bcb6e6e"]]},{"id":"10cc37d334f32d9a","type":"comment","z":"7a53b6073571e8dc","g":"3316a0361f3cd8ea","name":"Why change topic?","info":"when setting the difference variable for the status checker, the calculation will be interupted because the topic contains \"ns=1;\" which is an operator","x":910,"y":760,"wires":[]},{"id":"626607248a2dfb33","type":"MySQLdatabase","name":"","host":"192.168.2.15","port":"3307","db":"brrtc_training","tz":"","charset":"UTF8"},{"id":"613be4e97df20335","type":"ui_group","name":"Command","tab":"944f7d18e4f8358f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d0d70ad90dd1365","type":"ui_group","name":"Measured","tab":"944f7d18e4f8358f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b20e31e34f503174","type":"ui_group","name":"Status","tab":"944f7d18e4f8358f","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"823a6f11.f75ab","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840/","secpol":"None","secmode":"None","none":false,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"944f7d18e4f8358f","type":"ui_tab","name":"Hydraulic Training","icon":"dashboard","disabled":false,"hidden":false}]
