trainings/Hydraulic/generateDataset.json
[{"id":"8447f44c011e0b51","type":"group","z":"7a53b6073571e8dc","name":"Create Fake Dataset","style":{"label":true},"nodes":["e1a263c0b6e29d0e","d6b1bdf8263d40d2","09ebceae7681cd1a","f5395c2bf0e20b10","1447766e826b15ee","0a6d991e480a8cce","c2db6831888dc44d"],"x":128,"y":79,"w":1078,"h":162},{"id":"e1a263c0b6e29d0e","type":"switch","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"num"},{"t":"btwn","v":"61","vt":"num","v2":"120","v2t":"num"},{"t":"btwn","v":"121","vt":"num","v2":"180","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":160,"wires":[["d6b1bdf8263d40d2"],["09ebceae7681cd1a"],["f5395c2bf0e20b10"]]},{"id":"d6b1bdf8263d40d2","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=22\nvar measuredPressureMin=18\nvar measuredFlowrateMax=32\nvar measuredFlowrateMin=28\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":120,"wires":[["1447766e826b15ee"]]},{"id":"09ebceae7681cd1a","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=17\nvar measuredPressureMin=15\nvar measuredFlowrateMax=27\nvar measuredFlowrateMin=25\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":160,"wires":[["1447766e826b15ee"]]},{"id":"f5395c2bf0e20b10","type":"function","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","func":"var measuredPressureMax=14\nvar measuredPressureMin=12\nvar measuredFlowrateMax=24\nvar measuredFlowrateMin=22\n\ncommandPressure  = 20\nmeasuredPressure = parseInt(Math.random() * (measuredPressureMax - measuredPressureMin) + measuredPressureMin)\ncommandFlowrate  = 30\nmeasuredFlowrate = parseInt(Math.random() * (measuredFlowrateMax - measuredFlowrateMin) + measuredFlowrateMin)\nmsg.topic=\"INSERT INTO hydraulic_filter_dataset (command_pressure,measured_pressure,command_flowrate,measured_flowrate)VALUES (\"+commandPressure+\",\"+measuredPressure+\",\"+commandFlowrate+\",\"+measuredFlowrate+\");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":200,"wires":[["1447766e826b15ee"]]},{"id":"1447766e826b15ee","type":"mysql","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","mydb":"626607248a2dfb33","name":"","x":920,"y":160,"wires":[["0a6d991e480a8cce"]]},{"id":"0a6d991e480a8cce","type":"debug","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":160,"wires":[]},{"id":"c2db6831888dc44d","type":"group","z":"7a53b6073571e8dc","g":"8447f44c011e0b51","name":"Increment Counter","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["e6614b34f436ba82","667dc35d8fd80f28"],"x":154,"y":119,"w":352,"h":82},{"id":"e6614b34f436ba82","type":"inject","z":"7a53b6073571e8dc","d":true,"g":"c2db6831888dc44d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["667dc35d8fd80f28"]]},{"id":"667dc35d8fd80f28","type":"function","z":"7a53b6073571e8dc","g":"c2db6831888dc44d","name":"","func":"var counter = flow.get(\"counter\") || 0\ncounter ++\nflow.set('counter',counter)\nmsg.payload=counter\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["e1a263c0b6e29d0e"]]},{"id":"626607248a2dfb33","type":"MySQLdatabase","name":"","host":"192.168.2.15","port":"3307","db":"brrtc_training","tz":"","charset":"UTF8"}]
