trainings/Hydraulic/Query&Display.json
[{"id":"ddbafaa59eade321","type":"inject","z":"7a53b6073571e8dc","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":480,"wires":[["265f7d4beeecdbac"]]},{"id":"c08add1c6b7e48c8","type":"mysql","z":"7a53b6073571e8dc","mydb":"626607248a2dfb33","name":"","x":600,"y":480,"wires":[["4fde5ffe7bd9d386","ad778fbba0c5fea8","645aa9412ccc3a3e","8b450eb4a2d9b0bb","ea0f53f71fd6ee70","d55984ff2229571a"]]},{"id":"265f7d4beeecdbac","type":"function","z":"7a53b6073571e8dc","name":"","func":"flow.set('counter',flow.get(\"counter\")+1)\nif (flow.get(\"counter\")==180){\n    flow.set(\"counter\",1)\n}\nmsg.counter=flow.get(\"counter\")\nmsg.topic = \"SELECT * FROM `hydraulic_filter_dataset`  where `hydraulic_filter_dataset`.`id`  = \"+flow.get(\"counter\")+\";\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["c08add1c6b7e48c8","256db0438d3a9f76"]]},{"id":"4fde5ffe7bd9d386","type":"debug","z":"7a53b6073571e8dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":480,"wires":[]},{"id":"ad778fbba0c5fea8","type":"ui_gauge","z":"7a53b6073571e8dc","name":"","group":"613be4e97df20335","order":0,"width":0,"height":0,"gtype":"gage","title":"Command Pressure","label":"units","format":"{{msg.payload[0].command_pressure}}","min":"0","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"14","seg2":"17","className":"","x":920,"y":540,"wires":[]},{"id":"645aa9412ccc3a3e","type":"ui_gauge","z":"7a53b6073571e8dc","name":"","group":"6d0d70ad90dd1365","order":0,"width":0,"height":0,"gtype":"gage","title":"Measured Pressure","label":"units","format":"{{msg.payload[0].measured_pressure}}","min":"0","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"14","seg2":"17","className":"","x":920,"y":580,"wires":[]},{"id":"8b450eb4a2d9b0bb","type":"ui_gauge","z":"7a53b6073571e8dc","name":"","group":"613be4e97df20335","order":0,"width":0,"height":0,"gtype":"gage","title":"Command Flowrate","label":"units","format":"{{msg.payload[0].command_flowrate}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"24","seg2":"27","className":"","x":910,"y":620,"wires":[]},{"id":"ea0f53f71fd6ee70","type":"ui_gauge","z":"7a53b6073571e8dc","name":"","group":"6d0d70ad90dd1365","order":0,"width":0,"height":0,"gtype":"gage","title":"Measured Flowrate","label":"units","format":"{{msg.payload[0].measured_flowrate}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"24","seg2":"27","className":"","x":910,"y":660,"wires":[]},{"id":"d55984ff2229571a","type":"function","z":"7a53b6073571e8dc","name":"flowrate status checker","func":"var flowrateDifference=msg.payload[0].command_flowrate-msg.payload[0].measured_flowrate\nvar pressureDifference=msg.payload[0].command_pressure-msg.payload[0].measured_pressure\nif(flowrateDifference<3){\n    msg.flowrate=\"Good\"\n}else if (flowrateDifference<6){\n    msg.flowrate=\"Warning\"\n}else if (flowrateDifference<9){\n    msg.flowrate=\"Critical\"\n}\nif(pressureDifference<3){\n    msg.pressure=\"Good\"\n}else if (pressureDifference<6){\n    msg.pressure=\"Warning\"\n}else if (pressureDifference<9){\n    msg.pressure=\"Critical\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":700,"wires":[["72758b60c8896972","743135d146ecb9b7"]]},{"id":"743135d146ecb9b7","type":"ui_text","z":"7a53b6073571e8dc","group":"b20e31e34f503174","order":2,"width":0,"height":0,"name":"","label":"Pressure Status: ","format":"{{msg.pressure}}","layout":"row-spread","className":"","x":1030,"y":700,"wires":[]},{"id":"256db0438d3a9f76","type":"ui_text","z":"7a53b6073571e8dc","group":"b20e31e34f503174","order":1,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.counter}}","layout":"row-spread","className":"","x":580,"y":540,"wires":[]},{"id":"72758b60c8896972","type":"ui_text","z":"7a53b6073571e8dc","group":"b20e31e34f503174","order":2,"width":0,"height":0,"name":"","label":"Flowrate Status: ","format":"{{msg.flowrate}}","layout":"row-spread","className":"","x":1020,"y":740,"wires":[]},{"id":"626607248a2dfb33","type":"MySQLdatabase","name":"","host":"192.168.2.15","port":"3307","db":"brrtc_training","tz":"","charset":"UTF8"},{"id":"613be4e97df20335","type":"ui_group","name":"Command","tab":"944f7d18e4f8358f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d0d70ad90dd1365","type":"ui_group","name":"Measured","tab":"944f7d18e4f8358f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b20e31e34f503174","type":"ui_group","name":"Status","tab":"944f7d18e4f8358f","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"944f7d18e4f8358f","type":"ui_tab","name":"Hydraulic Training","icon":"dashboard","disabled":false,"hidden":false}]
