projects/KUBE/StandardCommision/file.json
[{"id":"eb8e3ff4f2df2e00","type":"link in","z":"98f492ee568279bc","name":"","links":["d28f992ee13b1b0c"],"x":105,"y":480,"wires":[[]]},{"id":"29e4e1984b57c420","type":"link in","z":"98f492ee568279bc","name":"","links":["f7cbbdea09f1b289"],"x":105,"y":520,"wires":[[]]},{"id":"e485fd1ec4364861","type":"link in","z":"98f492ee568279bc","name":"","links":["8b8f7be57cc715e4"],"x":105,"y":560,"wires":[[]]},{"id":"d772d2e966829784","type":"link in","z":"98f492ee568279bc","name":"","links":["fe47f9c0faacad40"],"x":105,"y":600,"wires":[[]]},{"id":"698002e1cded7a30","type":"link in","z":"98f492ee568279bc","name":"","links":["bd51d6afd7aa7305"],"x":105,"y":640,"wires":[[]]},{"id":"4a01c7499238a052","type":"link in","z":"98f492ee568279bc","name":"","links":["0fd9959d72f0a53a"],"x":105,"y":680,"wires":[[]]},{"id":"33efb82de38c7786","type":"link in","z":"98f492ee568279bc","name":"","links":["c4dd765274fc1ede"],"x":105,"y":720,"wires":[[]]},{"id":"e48f9a2df87df82a","type":"link in","z":"98f492ee568279bc","name":"","links":["286f59c62573037b"],"x":105,"y":760,"wires":[[]]},{"id":"5f0ab272a007b129","type":"group","z":"98f492ee568279bc","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["293358b70bf79550","83c42c787ef24b02","1c8c2c2c7c53f634","2d5576ffe9823bde","43192296d97f786b","86ee93d9125c3e22","8cc8c553e21bb65f","2bc5154bb8afe5f4","d28f992ee13b1b0c","f7cbbdea09f1b289","8b8f7be57cc715e4","fe47f9c0faacad40","bd51d6afd7aa7305","0fd9959d72f0a53a","c4dd765274fc1ede","286f59c62573037b","253213e489259e66","92636d65ab2f6813","2e6e257241db9a33","280bc893b92fd065","47d307a859d4f2b5","4328d22ac3fd3088","1d57dd7da64636a2","d634362701c182a3"],"x":71,"y":19,"w":565,"h":362},{"id":"293358b70bf79550","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":220,"wires":[["47d307a859d4f2b5"]]},{"id":"83c42c787ef24b02","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":300,"wires":[["1d57dd7da64636a2"]]},{"id":"1c8c2c2c7c53f634","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":260,"wires":[["4328d22ac3fd3088"]]},{"id":"2d5576ffe9823bde","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":100,"wires":[["92636d65ab2f6813"]]},{"id":"43192296d97f786b","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":180,"wires":[["280bc893b92fd065"]]},{"id":"86ee93d9125c3e22","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":140,"wires":[["2e6e257241db9a33"]]},{"id":"8cc8c553e21bb65f","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":157,"y":60,"wires":[["253213e489259e66"]]},{"id":"2bc5154bb8afe5f4","type":"mqtt in","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":160,"y":340,"wires":[["d634362701c182a3"]]},{"id":"d28f992ee13b1b0c","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 1","mode":"link","links":["2284ac4b8d04fcc0","eb8e3ff4f2df2e00"],"x":595,"y":60,"wires":[]},{"id":"f7cbbdea09f1b289","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 2","mode":"link","links":["05247a0b19325fb7","29e4e1984b57c420"],"x":595,"y":100,"wires":[]},{"id":"8b8f7be57cc715e4","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 3","mode":"link","links":["8ff37cc040b32d92","e485fd1ec4364861"],"x":595,"y":140,"wires":[]},{"id":"fe47f9c0faacad40","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 4","mode":"link","links":["11159513d5e4260e","d772d2e966829784"],"x":595,"y":180,"wires":[]},{"id":"bd51d6afd7aa7305","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 5","mode":"link","links":["698002e1cded7a30","d0519941e47f7173"],"x":595,"y":220,"wires":[]},{"id":"0fd9959d72f0a53a","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 6","mode":"link","links":["4a01c7499238a052","72645aab82bcee8f"],"x":595,"y":260,"wires":[]},{"id":"c4dd765274fc1ede","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 7","mode":"link","links":["33efb82de38c7786","f2ab44194e32b318"],"x":595,"y":300,"wires":[]},{"id":"286f59c62573037b","type":"link out","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Sensor 8","mode":"link","links":["453bfa45f41aa20e","e48f9a2df87df82a"],"x":595,"y":340,"wires":[]},{"id":"253213e489259e66","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["d28f992ee13b1b0c"]]},{"id":"92636d65ab2f6813","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["f7cbbdea09f1b289"]]},{"id":"2e6e257241db9a33","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["8b8f7be57cc715e4"]]},{"id":"280bc893b92fd065","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":180,"wires":[["fe47f9c0faacad40"]]},{"id":"47d307a859d4f2b5","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["bd51d6afd7aa7305"]]},{"id":"4328d22ac3fd3088","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["0fd9959d72f0a53a"]]},{"id":"1d57dd7da64636a2","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["c4dd765274fc1ede"]]},{"id":"d634362701c182a3","type":"change","z":"98f492ee568279bc","g":"5f0ab272a007b129","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["286f59c62573037b"]]},{"id":"6c9f4553f20c34a0","type":"group","z":"98f492ee568279bc","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["15ca3dd202d93c7a","3f29b50429bf24ec","1ad5e9553f7c7de1","6b15165102c9f75e","2dcc54d03767f1f2","1eafa4452c888f80","7df16877fd2c070e","dbfebc2cd7189f3d","249fbff43d1583b3","2284ac4b8d04fcc0","05247a0b19325fb7","8ff37cc040b32d92","11159513d5e4260e","d0519941e47f7173","72645aab82bcee8f","f2ab44194e32b318","453bfa45f41aa20e","f98b9b4e5fce1525"],"x":674,"y":19,"w":712,"h":362},{"id":"15ca3dd202d93c7a","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":60,"wires":[["249fbff43d1583b3"]]},{"id":"3f29b50429bf24ec","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":260,"wires":[["249fbff43d1583b3"]]},{"id":"1ad5e9553f7c7de1","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["249fbff43d1583b3"]]},{"id":"6b15165102c9f75e","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":100,"wires":[["249fbff43d1583b3"]]},{"id":"2dcc54d03767f1f2","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":220,"wires":[["249fbff43d1583b3"]]},{"id":"1eafa4452c888f80","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":140,"wires":[["249fbff43d1583b3"]]},{"id":"7df16877fd2c070e","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":300,"wires":[["249fbff43d1583b3"]]},{"id":"dbfebc2cd7189f3d","type":"function","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":340,"wires":[["249fbff43d1583b3"]]},{"id":"249fbff43d1583b3","type":"change","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":200,"wires":[["f98b9b4e5fce1525"]],"info":"To change the "},{"id":"2284ac4b8d04fcc0","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["d28f992ee13b1b0c"],"x":715,"y":60,"wires":[["15ca3dd202d93c7a"]]},{"id":"05247a0b19325fb7","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["f7cbbdea09f1b289"],"x":715,"y":100,"wires":[["6b15165102c9f75e"]]},{"id":"8ff37cc040b32d92","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["8b8f7be57cc715e4"],"x":715,"y":140,"wires":[["1eafa4452c888f80"]]},{"id":"11159513d5e4260e","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["fe47f9c0faacad40"],"x":715,"y":180,"wires":[["1ad5e9553f7c7de1"]]},{"id":"d0519941e47f7173","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["bd51d6afd7aa7305"],"x":715,"y":220,"wires":[["2dcc54d03767f1f2"]]},{"id":"72645aab82bcee8f","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["0fd9959d72f0a53a"],"x":715,"y":260,"wires":[["3f29b50429bf24ec"]]},{"id":"f2ab44194e32b318","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["c4dd765274fc1ede"],"x":715,"y":300,"wires":[["7df16877fd2c070e"]]},{"id":"453bfa45f41aa20e","type":"link in","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","name":"","links":["286f59c62573037b"],"x":715,"y":340,"wires":[["dbfebc2cd7189f3d"]]},{"id":"f98b9b4e5fce1525","type":"influxdb batch","z":"98f492ee568279bc","g":"6c9f4553f20c34a0","influxdb":"728eab5220225afc","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"","bucket":"Kube Gateway","x":1240,"y":200,"wires":[]},{"id":"728eab5220225afc","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false,"credentials":{}}]
