projects/Depreciated/Secure Room with Telegram/code.json
[
    {
        "id": "43b41c29.f5b1d4",
        "type": "tab",
        "label": "Secure room monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57b0db2e92e4aa07",
        "type": "group",
        "z": "43b41c29.f5b1d4",
        "name": "Testers",
        "style": {
            "label": true,
            "fill": "#ffff00",
            "color": "#000000"
        },
        "nodes": [
            "c9b2c97358e4d1a8",
            "c69f36d69ce9f4c3"
        ],
        "x": 234,
        "y": 279,
        "w": 232,
        "h": 122
    },
    {
        "id": "6adc9998abd1eecd",
        "type": "group",
        "z": "43b41c29.f5b1d4",
        "name": "Get Temperature",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c1483862.60d608",
            "158e94df.0e1dfb",
            "5b043f09.9fef",
            "870ae1dd.e3955"
        ],
        "x": 14,
        "y": 159,
        "w": 912,
        "h": 82
    },
    {
        "id": "ac6588ab2856371e",
        "type": "group",
        "z": "43b41c29.f5b1d4",
        "name": "User input",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000"
        },
        "nodes": [
            "070c313c2beb7d5c",
            "8e6c837ad4f24882"
        ],
        "x": 14,
        "y": 439,
        "w": 452,
        "h": 82
    },
    {
        "id": "d8977abf5dacb0ee",
        "type": "group",
        "z": "43b41c29.f5b1d4",
        "name": "Telegram Exception handler",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000"
        },
        "nodes": [
            "3168643012585d95",
            "2177ee0570d18cf6"
        ],
        "x": 934,
        "y": 459,
        "w": 492,
        "h": 82
    },
    {
        "id": "e96a0d093dcb9ad8",
        "type": "group",
        "z": "43b41c29.f5b1d4",
        "name": "Telegram Output for alert",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000"
        },
        "nodes": [
            "c8b1ae31.94def",
            "fc259d1cb68c52b1"
        ],
        "x": 1134,
        "y": 299,
        "w": 492,
        "h": 82
    },
    {
        "id": "c1483862.60d608",
        "type": "mqtt in",
        "z": "43b41c29.f5b1d4",
        "d": true,
        "g": "6adc9998abd1eecd",
        "name": "",
        "topic": "TransferFi/SN001-050221/E1:D2:15:10:1F:F1",
        "qos": "0",
        "datatype": "auto",
        "broker": "a2c483a0.4f962",
        "nl": false,
        "rap": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "5b043f09.9fef"
            ]
        ]
    },
    {
        "id": "158e94df.0e1dfb",
        "type": "json",
        "z": "43b41c29.f5b1d4",
        "g": "6adc9998abd1eecd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "870ae1dd.e3955"
            ]
        ]
    },
    {
        "id": "5b043f09.9fef",
        "type": "change",
        "z": "43b41c29.f5b1d4",
        "g": "6adc9998abd1eecd",
        "name": "JSON Validifier",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "'",
                "fromt": "str",
                "to": "\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "158e94df.0e1dfb"
            ]
        ]
    },
    {
        "id": "870ae1dd.e3955",
        "type": "change",
        "z": "43b41c29.f5b1d4",
        "g": "6adc9998abd1eecd",
        "name": "Temperature extractor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "74b80a0e06a51436"
            ]
        ]
    },
    {
        "id": "c8b1ae31.94def",
        "type": "telegram sender",
        "z": "43b41c29.f5b1d4",
        "g": "e96a0d093dcb9ad8",
        "name": "",
        "bot": "d1580cea.43a02",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c9b2c97358e4d1a8",
        "type": "inject",
        "z": "43b41c29.f5b1d4",
        "g": "57b0db2e92e4aa07",
        "name": "Over Threshold",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "41",
        "payloadType": "str",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "74b80a0e06a51436"
            ]
        ]
    },
    {
        "id": "c69f36d69ce9f4c3",
        "type": "inject",
        "z": "43b41c29.f5b1d4",
        "g": "57b0db2e92e4aa07",
        "name": "Under Threshold",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "74b80a0e06a51436"
            ]
        ]
    },
    {
        "id": "74b80a0e06a51436",
        "type": "switch",
        "z": "43b41c29.f5b1d4",
        "name": "Above 40?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "d786399d6d3526e9"
            ]
        ]
    },
    {
        "id": "fc259d1cb68c52b1",
        "type": "function",
        "z": "43b41c29.f5b1d4",
        "g": "e96a0d093dcb9ad8",
        "name": "Declare Telegram Objects",
        "func": "var temp=msg.payload\nmsg.payload={\n    content:\"Secure Room @DCSG is at \"+temp+\"°!\",\n    type:'message',\n     chatId:['669038186']\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 340,
        "wires": [
            [
                "c8b1ae31.94def"
            ]
        ]
    },
    {
        "id": "070c313c2beb7d5c",
        "type": "telegram receiver",
        "z": "43b41c29.f5b1d4",
        "g": "ac6588ab2856371e",
        "name": "",
        "bot": "d1580cea.43a02",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "8e6c837ad4f24882"
            ],
            [
                "8e6c837ad4f24882"
            ]
        ]
    },
    {
        "id": "8e6c837ad4f24882",
        "type": "change",
        "z": "43b41c29.f5b1d4",
        "g": "ac6588ab2856371e",
        "name": "Message Extractor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "c855f6113b5822e6"
            ]
        ]
    },
    {
        "id": "d786399d6d3526e9",
        "type": "trigger",
        "z": "43b41c29.f5b1d4",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "fc259d1cb68c52b1"
            ]
        ]
    },
    {
        "id": "85abd575f487b3b0",
        "type": "change",
        "z": "43b41c29.f5b1d4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "d786399d6d3526e9"
            ]
        ]
    },
    {
        "id": "c855f6113b5822e6",
        "type": "switch",
        "z": "43b41c29.f5b1d4",
        "name": "IF Statement",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "85abd575f487b3b0"
            ],
            [
                "2177ee0570d18cf6"
            ]
        ]
    },
    {
        "id": "3168643012585d95",
        "type": "telegram sender",
        "z": "43b41c29.f5b1d4",
        "g": "d8977abf5dacb0ee",
        "name": "",
        "bot": "d1580cea.43a02",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1310,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2177ee0570d18cf6",
        "type": "function",
        "z": "43b41c29.f5b1d4",
        "g": "d8977abf5dacb0ee",
        "name": "Declare Telegram Objects",
        "func": "var temp=msg.payload\nmsg.payload={\n    content:\"Graph will be available at:\\nUser:\\nPassword\\nOr did you misspell reset?\",\n    type:'message',\n    chatId:['669038186']\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "3168643012585d95"
            ]
        ]
    },
    {
        "id": "a2c483a0.4f962",
        "type": "mqtt-broker",
        "name": "TransferFi",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "clientId-bCOAHMGS79",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d1580cea.43a02",
        "type": "telegram bot",
        "botname": "Bosch_Rexroth_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]
