projects/IoT Gateway API/StandardExample.json
[{"id":"215c70b.6c8cf9","type":"change","z":"2c8ee17f.1fe80e","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload.${$.name: $.values.value}\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":360,"wires":[["e10bddc6.0b9f6"]],"info":"To change the "},{"id":"e10bddc6.0b9f6","type":"influxdb batch","z":"2c8ee17f.1fe80e","influxdb":"","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Initial_Organization","bucket":"Testing","x":1100,"y":360,"wires":[]},{"id":"86752e7861b69ca4","type":"mqtt in","z":"2c8ee17f.1fe80e","name":"IoT Gateway Input 1","topic":"","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":360,"wires":[["215c70b.6c8cf9"]]}]
