projects/Depreciated/Alternative Solution/versions/BatchNode.json
[
    {
        "id": "2c8ee17f.1fe80e",
        "type": "tab",
        "label": "Alternative Solution.",
        "disabled": false,
        "info": ""
    },
    {
        "id": "215c70b.6c8cf9",
        "type": "change",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"measurement\": \"sensor\",\t       \"fields\": payload.${$.name: $.values.value}\t  }\t]         ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "e10bddc6.0b9f6"
            ]
        ]
    },
    {
        "id": "d7d81a7c.ff4608",
        "type": "mqtt in",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "topic": "topic",
        "qos": "0",
        "datatype": "json",
        "broker": "e70ea39f.89f6c",
        "nl": false,
        "rap": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "215c70b.6c8cf9"
            ]
        ]
    },
    {
        "id": "e10bddc6.0b9f6",
        "type": "influxdb batch",
        "z": "2c8ee17f.1fe80e",
        "influxdb": "33b60c63.bba194",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "boschrexroth",
        "bucket": "testing",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "e70ea39f.89f6c",
        "type": "mqtt-broker",
        "name": "15",
        "broker": "192.168.1.15",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "33b60c63.bba194",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "CISS_4",
        "name": "",
        "usetls": false,
        "tls": "24883671.9f0932",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "24883671.9f0932",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "BaltimoreCyberTrustRoot.crt.pem",
        "keyname": "",
        "caname": "DigiCertGlobalRootCA.crt.pem",
        "servername": "",
        "verifyservercert": true
    }
]
