projects/Depreciated/Alternative Solution/versions/Completed
[
    {
        "id": "2c8ee17f.1fe80e",
        "type": "tab",
        "label": "Alternative Solution.",
        "disabled": false,
        "info": ""
    },
    {
        "id": "215c70b.6c8cf9",
        "type": "change",
        "z": "2c8ee17f.1fe80e",
        "name": "Formatter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload.${$.name: $.values.value}\t  }\t]         ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 400,
        "wires": [
            [
                "e10bddc6.0b9f6",
                "082d0ea59fcc2d19"
            ]
        ],
        "info": "To change the "
    },
    {
        "id": "e10bddc6.0b9f6",
        "type": "influxdb batch",
        "z": "2c8ee17f.1fe80e",
        "influxdb": "33b60c63.bba194",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Initial_Organization",
        "bucket": "Testing",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "082d0ea59fcc2d19",
        "type": "debug",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "f9c21b4e1b257f36",
        "type": "change",
        "z": "2c8ee17f.1fe80e",
        "name": "Formatter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload.${$.name: $.values.value}\t  }\t]         ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 863,
        "y": 441,
        "wires": [
            [
                "e10bddc6.0b9f6"
            ]
        ],
        "info": "To change the "
    },
    {
        "id": "13347fee38569ca6",
        "type": "change",
        "z": "2c8ee17f.1fe80e",
        "name": "Formatter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload.${$.name: $.values.value}\t  }\t]         ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 480,
        "wires": [
            [
                "e10bddc6.0b9f6"
            ]
        ],
        "info": "To change the "
    },
    {
        "id": "2b46993ec0d98344",
        "type": "change",
        "z": "2c8ee17f.1fe80e",
        "name": "Formatter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload.${$.name: $.values.value}\t  }\t]         ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 863,
        "y": 521,
        "wires": [
            [
                "e10bddc6.0b9f6"
            ]
        ],
        "info": "To change the "
    },
    {
        "id": "7d8fcbe929813506",
        "type": "inject",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Machine_1",
        "payload": "[{\"name\":\"airflow\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":0,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]},{\"name\":\"current\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":227,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]}]",
        "payloadType": "json",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "215c70b.6c8cf9"
            ]
        ]
    },
    {
        "id": "7b77df88bed53849",
        "type": "inject",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Machine_2",
        "payload": "[{\"name\":\"airflow\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":0,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]},{\"name\":\"current\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":227,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]}]",
        "payloadType": "json",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "f9c21b4e1b257f36"
            ]
        ]
    },
    {
        "id": "044d4a46579a9940",
        "type": "inject",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Machine_3",
        "payload": "[{\"name\":\"airflow\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":0,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]},{\"name\":\"current\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":227,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]}]",
        "payloadType": "json",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "13347fee38569ca6"
            ]
        ]
    },
    {
        "id": "4b93594d7c63fdfe",
        "type": "inject",
        "z": "2c8ee17f.1fe80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Machine_4",
        "payload": "[{\"name\":\"airflow\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":0,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]},{\"name\":\"current\",\"description\":\"\",\"unit\":\"\",\"values\":[{\"value\":227,\"timestamp\":\"2021-06-09T08:40:46.237Z\"}]}]",
        "payloadType": "json",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "2b46993ec0d98344"
            ]
        ]
    },
    {
        "id": "33b60c63.bba194",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "CISS_4",
        "name": "",
        "usetls": false,
        "tls": "24883671.9f0932",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "24883671.9f0932",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "BaltimoreCyberTrustRoot.crt.pem",
        "keyname": "",
        "caname": "DigiCertGlobalRootCA.crt.pem",
        "servername": "",
        "verifyservercert": true
    }
]
