projects/KUBE/Kube GW Localtime/KubeGwLocaltime.json
[{"id":"f2ed44db8bd26a30","type":"change","z":"4ea6f7f83a0788ec","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.payload,\t       \"timestamp\": msg.timestamp\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":660,"wires":[["5d3f93eca36b057a"]],"info":"To change the "},{"id":"a8147f3fd77416ba","type":"mqtt in","z":"4ea6f7f83a0788ec","name":"Subscribe to a Sensor","topic":"Kube-IoT/C1:5D:CD:86:36:F5","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":660,"wires":[["a4dbebd5e3954bbb"]]},{"id":"5d3f93eca36b057a","type":"influxdb batch","z":"4ea6f7f83a0788ec","influxdb":"","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b94cdf1d96cb88b1","bucket":"Kube Gateway","x":960,"y":660,"wires":[]},{"id":"3a3c1f16d8b3f67f","type":"function","z":"4ea6f7f83a0788ec","name":"Variable Deleter","func":"const input = msg.payload.time;\nlet t = 0\nconst result = input.replace(/:/g, match => ++t === 3 ? '.' : match)\nconst unixtime = new Date(result).valueOf();\nmsg.payload.timestamp=unixtime;\n\ndelete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.humidity\ndelete msg.payload.air_pressure\ndelete msg.payload.p2p_mic\ndelete msg.payload.time\nreturn msg;\n\n//delete msg.payload","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":660,"wires":[["f2ed44db8bd26a30"]]},{"id":"a4dbebd5e3954bbb","type":"change","z":"4ea6f7f83a0788ec","name":"Change Measurement Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":660,"wires":[["3a3c1f16d8b3f67f"]]}]
